.form-horizontal .control-label {
    text-align: left;
}

#description
{
	resize: none;
	overflow: hidden;
}

#bar
{
	margin-top: 3px;
	margin-bottom: 4px;
	background-color: darkgray;
	height: 1px;
	width: 100%;
}